# Copy this file to .env and fill in your Store Access Key.
VITE_API_URL={{API_URL}}

# Get this from Backoffice > Settings > Application APIs (there is no self-serve API for this yet -
# see {{API_URL}}/guides/store if you're not sure what this is).
VITE_STORE_API_KEY=
