{
  "openapi": "3.1.1",
  "info": {
    "title": "OE Commerce Admin REST API",
    "description": "\n            Manage a single OE Commerce store's catalogue, orders, customers, and store configuration from\n            your own back-office tooling. Building a customer-facing storefront instead? See\n            [/docs/store](/docs/store).\n\n            New here? [/guides/admin](/guides/admin) walks through getting a key and calling your first\n            endpoint step by step - this page is the field-level reference to come back to afterward.\n\n            ## Getting Started\n\n            1. Click the **Authorize** button at the top of this page.\n            2. Provide credentials - one of:\n               - **Basic Authentication** - an Auth0 system-administrator's username/password.\n               - **Bearer** - a JWT obtained via **Apps - Authentication**.\n               - **API Key** via header `X-Commerce-Key` or `X-Storefront-Application-Key` - an Admin\n                 Application Key in the form `sk_admin_{storeRef}_{secret}`. Admin keys are always secret\n                 (server-to-server only) - there is no publishable admin key, and a request carrying a\n                 browser `Origin` header is rejected outright regardless of any other credential supplied.\n            3. For Basic/Bearer credentials (which carry no store reference of their own), also send\n               `X-Store-Ref` with the store you're targeting.\n\n            Once authorized, you can explore and test all available endpoints directly from this interface.\n\n            ## Errors\n\n            Failures use RFC 9457 Problem Details (`application/problem+json`) with a stable `code` field for\n            programmatic handling, e.g. `admin_key_not_browser_safe`, `store_ref_invalid`, `unauthorized`.\n\n            ## Rate Limits\n\n            Requests are limited per Application Key (200/minute), falling back to per-IP if no key is\n            present. A 429 response includes a `Retry-After` header.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "http://commerce-api-alpha.ordereazi.com/"
    }
  ],
  "paths": {
    "/api/v1/admin/wallets/bulk-update": {
      "patch": {
        "tags": [
          "Sales - Wallets"
        ],
        "summary": "Bulk adjust wallet balances (credit/debit)",
        "operationId": "BulkUpdateWalletApi",
        "requestBody": {
          "description": "JSON array of wallet transactions to process, each with its own AccountId/Value/Comment/PaymentId",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WalletTransactionModel"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WalletTransactionModel"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WalletTransactionModel"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "HTTP status 200 with the per-item outcome of every transaction in the response body, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkWalletUpdateResultModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkWalletUpdateResultModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkWalletUpdateResultModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/wallets/{id}": {
      "get": {
        "tags": [
          "Sales - Wallets"
        ],
        "summary": "Get a wallet",
        "operationId": "GetWalletApi",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique row identifier of the wallet record",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 with the record details in the response body if found, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WalletModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/wallets/list": {
      "get": {
        "tags": [
          "Sales - Wallets"
        ],
        "summary": "List wallets",
        "operationId": "ListWalletsApi",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Filters the records whose  match the search term",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 with either list of record or an empty list, if none found, in the response body",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WalletModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WalletModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WalletModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/wallets/{accountId}/transactions": {
      "get": {
        "tags": [
          "Sales - Wallets"
        ],
        "summary": "List a wallet's transaction ledger",
        "operationId": "ListWalletTransactionsApi",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Unique row identifier of the account that owns the wallet",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "description": "Filters the results that were created AFTER the UTC date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "description": "Filters the results that were created BEFORE the UTC date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filters the results by transaction type - \"Credit\" or \"Debit\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 with either a list of transactions or an empty list, if none found, in the response body",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WalletTransactionModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WalletTransactionModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WalletTransactionModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/wallets/update": {
      "patch": {
        "tags": [
          "Sales - Wallets"
        ],
        "summary": "Adjust a wallet's balance",
        "operationId": "UpdateWalletApi",
        "requestBody": {
          "description": "JSON data model required to process request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WalletTransactionModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WalletTransactionModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WalletTransactionModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/user-roles/{roleId}/features/disable-all": {
      "patch": {
        "tags": [
          "Stores - User Roles - Features"
        ],
        "summary": "Disable every feature for a frontend user role",
        "operationId": "DisableAllFrontendUserRoleFeaturesApi",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "description": "Unique row identifier of the frontend user role record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/user-roles/{roleId}/features/enable-all": {
      "patch": {
        "tags": [
          "Stores - User Roles - Features"
        ],
        "summary": "Enable every built-in feature for a frontend user role",
        "operationId": "EnableAllFrontendUserRoleFeaturesApi",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "description": "Unique row identifier of the frontend user role record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/user-roles/{roleId}/features/{featureKey}": {
      "patch": {
        "tags": [
          "Stores - User Roles - Features"
        ],
        "summary": "Enable or disable a feature for a frontend user role",
        "description": "featureKey is free text, not constrained to the FrontendFeature enum - the underlying store\nalready accepts custom keys beyond its 27 built-in features (matched at render time by theme\ntemplates via a &lt;feature name=\"...\"&gt; tag/attribute), so this same endpoint doubles as\n\"add/remove a custom feature grant\"; there's no separate add-custom-feature action.",
        "operationId": "ToggleFrontendUserRoleFeatureApi",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "description": "Unique row identifier of the frontend user role record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "featureKey",
            "in": "path",
            "description": "Feature key - a FrontendFeature enum value, or a custom key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "JSON data model required to process request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleFrontendUserRoleFeatureRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleFrontendUserRoleFeatureRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleFrontendUserRoleFeatureRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/user-roles/{roleId}": {
      "get": {
        "tags": [
          "Stores - User Roles"
        ],
        "summary": "Get a frontend user role",
        "operationId": "GetFrontendUserRoleApi",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "description": "Unique row identifier of the frontend user role record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 with the role's settings and enabled features if found, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FrontendUserRoleEditModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrontendUserRoleEditModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrontendUserRoleEditModel"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Stores - User Roles"
        ],
        "summary": "Update a frontend user role's settings",
        "description": "Only DisplayName, Description, SortOrder and IsActive are settable here - any field left out of\nthe request body keeps its current value. DefaultPriceListId has its own dedicated\nPATCH .../default-price-list endpoint instead of being folded in here: it's nullable/clearable,\nand on a partial-update body there's no way to tell \"omitted\" apart from \"explicitly cleared\" for\na field whose valid states already include null.",
        "operationId": "UpdateFrontendUserRoleApi",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "description": "Unique row identifier of the frontend user role record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "JSON data model required to process request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFrontendUserRoleRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFrontendUserRoleRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFrontendUserRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/user-roles": {
      "get": {
        "tags": [
          "Stores - User Roles"
        ],
        "summary": "List frontend user roles",
        "operationId": "ListFrontendUserRolesApi",
        "responses": {
          "200": {
            "description": "HTTP status 200 with the store's fixed set of user roles (Public/B2C/B2B/Supplier/Branch/HeadOffice) and their current settings/enabled features",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FrontendUserRoleEditModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FrontendUserRoleEditModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FrontendUserRoleEditModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/user-roles/{roleId}/set-default": {
      "patch": {
        "tags": [
          "Stores - User Roles"
        ],
        "summary": "Set a frontend user role as the store's default",
        "description": "Exclusive: unsets IsDefault on every other role for this store first, so a store never ends up\nwith more than one default role for new signups at a time.",
        "operationId": "SetFrontendUserRoleDefaultApi",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "description": "Unique row identifier of the frontend user role record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/user-roles/{roleId}/default-price-list": {
      "patch": {
        "tags": [
          "Stores - User Roles"
        ],
        "summary": "Update a frontend user role's default price list",
        "description": "Kept as its own endpoint rather than folded into PATCH .../user-roles/{roleId} - a caller can clear\nthe override (send priceListId: null) or set it without needing to resend DisplayName,\nDescription, SortOrder and IsActive first.",
        "operationId": "UpdateFrontendUserRoleDefaultPriceListApi",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "description": "Unique row identifier of the frontend user role record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "JSON data model required to process request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFrontendUserRoleDefaultPriceListRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFrontendUserRoleDefaultPriceListRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFrontendUserRoleDefaultPriceListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/{storeId}/themes/scripts": {
      "post": {
        "tags": [
          "Stores - Themes - Scripts"
        ],
        "summary": "Create a script",
        "operationId": "CreateScriptApi",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateScriptModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateScriptModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateScriptModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "HTTP status 201 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Stores - Themes - Scripts"
        ],
        "summary": "List scripts",
        "operationId": "ListScriptsApi",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 with either list of record or an empty list, if none found, in the response body",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ListScriptModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ListScriptModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ListScriptModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/{storeId}/themes/scripts/{id}": {
      "delete": {
        "tags": [
          "Stores - Themes - Scripts"
        ],
        "summary": "Delete a theme script",
        "operationId": "DeleteScriptApi",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Stores - Themes - Scripts"
        ],
        "summary": "Get a script",
        "operationId": "GetScriptApi",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 with record in the response body if found, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptModel"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Stores - Themes - Scripts"
        ],
        "summary": "Update a script",
        "operationId": "UpdateScriptApi",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateScriptModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateScriptModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateScriptModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/settings/sorting": {
      "get": {
        "tags": [
          "Stores - Sorting"
        ],
        "summary": "Get the caller's store catalogue sorting settings",
        "description": "The relevance/featured-ranking weighting formula config - not to be confused with\n    DefaultSort at stores/settings/search, which is the field that actually controls default\n    catalogue listing sort order.",
        "operationId": "GetSortingSettingsApi",
        "responses": {
          "200": {
            "description": "HTTP status 200 with the settings in the response body",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SortingSettingsModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SortingSettingsModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SortingSettingsModel"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Stores - Sorting"
        ],
        "summary": "Update the caller's store catalogue sorting settings",
        "operationId": "UpdateSortingSettingsApi",
        "requestBody": {
          "description": "Only non-blank fields are applied",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SortingSettingsUpdate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SortingSettingsUpdate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SortingSettingsUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "HTTP status 200 with the updated settings, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SortingSettingsModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SortingSettingsModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SortingSettingsModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/settings/rounding": {
      "get": {
        "tags": [
          "Stores - Settings - Rounding"
        ],
        "summary": "Get the caller's store's rounding configuration. This is the store-wide setting only - it does not\nitself change any pricelist's prices; see 'apply-rounding' on a pricelist for that trigger.",
        "operationId": "GetStoreRoundingSettingsApi",
        "responses": {
          "200": {
            "description": "HTTP status 200 with the record in the response body",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StoreRoundingSettingsModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreRoundingSettingsModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreRoundingSettingsModel"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Stores - Settings - Rounding"
        ],
        "summary": "Update the caller's store's rounding configuration. This only sets the store-wide RoundingType - it\ndoes not itself change any pricelist's prices; see 'apply-rounding' on a pricelist for that trigger.",
        "operationId": "UpdateStoreRoundingSettingsApi",
        "requestBody": {
          "description": "JSON data model required to process request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreRoundingSettingsUpdate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreRoundingSettingsUpdate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/StoreRoundingSettingsUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/settings/search": {
      "get": {
        "tags": [
          "Stores - Search"
        ],
        "summary": "Get the caller's store search settings",
        "description": "DefaultSort is the field that actually controls default catalogue listing sort order -\n    not to be confused with the relevance/featured-ranking weighting config at\n    stores/settings/sorting.",
        "operationId": "GetSearchSettingsApi",
        "responses": {
          "200": {
            "description": "HTTP status 200 with the settings in the response body",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SearchSettingsModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchSettingsModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchSettingsModel"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Stores - Search"
        ],
        "summary": "Update the caller's store search settings",
        "operationId": "UpdateSearchSettingsApi",
        "requestBody": {
          "description": "Only non-null fields are applied",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchSettingsUpdate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchSettingsUpdate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchSettingsUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "HTTP status 200 with the updated settings, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SearchSettingsModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchSettingsModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchSettingsModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/search/reindex": {
      "post": {
        "tags": [
          "Stores - Search"
        ],
        "summary": "Trigger a full Solr search reindex for the caller's own store",
        "description": "Equivalent to Backoffice's Settings &gt; Search Indexing &gt; Index Products button -\n    creates/verifies the store's Solr collection, then indexes its full product catalogue. This is\n    a heavier, synchronous operation for a large catalogue; call it deliberately rather than on a\n    tight polling loop.",
        "operationId": "TriggerSearchReindexApi",
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/redirects/bulk-import": {
      "post": {
        "tags": [
          "Stores - Redirects"
        ],
        "summary": "Bulk-import redirects for the caller's own store",
        "description": "Accepts a JSON array of { OldUrl, NewUrl } items rather than Backoffice's raw CSV\n    upload - a better fit for a programmatic caller. Rows that pass validation are always created\n    even if other rows in the same payload fail; see the Errors property for a message per rejected\n    line. Always resolves to the caller's own store - a global (null-StoreId) redirect is never\n    created here.",
        "operationId": "BulkImportRedirectsApi",
        "requestBody": {
          "description": "The redirects to import",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RedirectBulkImportItem"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RedirectBulkImportItem"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RedirectBulkImportItem"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "HTTP status 200 with the created count and any per-line errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RedirectBulkImportResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedirectBulkImportResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedirectBulkImportResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/redirects": {
      "post": {
        "tags": [
          "Stores - Redirects"
        ],
        "summary": "Create a redirect for the caller's own store",
        "description": "An Admin API key is store-scoped, so this always creates a store-owned redirect - it\n    can never create a global (null-StoreId) redirect that would affect every store in the\n    subscription.",
        "operationId": "CreateRedirectApi",
        "requestBody": {
          "description": "JSON data model required to process request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedirectCreate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RedirectCreate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RedirectCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "HTTP status 201 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Stores - Redirects"
        ],
        "summary": "List redirects for the caller's own store",
        "description": "Never returns a global (null-StoreId) redirect - an Admin API key only sees redirects\n    scoped to its own store.",
        "operationId": "ListRedirectsApi",
        "responses": {
          "200": {
            "description": "HTTP status 200 with either list of records or an empty list, if none found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RedirectListItemModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RedirectListItemModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RedirectListItemModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/redirects/{sitemapId}": {
      "delete": {
        "tags": [
          "Stores - Redirects"
        ],
        "summary": "Delete a redirect owned by the caller's own store",
        "description": "A redirect belonging to another store, or a global (null-StoreId) redirect, is treated\n    as not found rather than forbidden.",
        "operationId": "DeleteRedirectApi",
        "parameters": [
          {
            "name": "sitemapId",
            "in": "path",
            "description": "Unique row identifier of the redirect record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/favicon": {
      "delete": {
        "tags": [
          "Stores - Logo & Favicon"
        ],
        "summary": "Remove the caller's store favicon",
        "operationId": "DeleteStoreFaviconApi",
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Stores - Logo & Favicon"
        ],
        "summary": "Upload the caller's store favicon",
        "description": "Accepts a single file as multipart/form-data, matching this API's other file-upload\n    endpoints (e.g. Apps - Data Transfer - Imports).",
        "operationId": "SetStoreFaviconApi",
        "responses": {
          "200": {
            "description": "HTTP status 200 with the uploaded picture, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StorePictureModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorePictureModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorePictureModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/logo": {
      "delete": {
        "tags": [
          "Stores - Logo & Favicon"
        ],
        "summary": "Remove the caller's store logo",
        "operationId": "DeleteStoreLogoApi",
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Stores - Logo & Favicon"
        ],
        "summary": "Upload the caller's store logo",
        "description": "Accepts a single file as multipart/form-data, matching this API's other file-upload\n    endpoints (e.g. Apps - Data Transfer - Imports).",
        "operationId": "SetStoreLogoApi",
        "responses": {
          "200": {
            "description": "HTTP status 200 with the uploaded picture, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StorePictureModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorePictureModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorePictureModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/{storeId}/navigation": {
      "post": {
        "tags": [
          "Stores - Navigation"
        ],
        "summary": "Create a navigation menu together with its item tree - a straight re-expression of Backoffice's own\nNavigation editor, which always saves the whole tree (parent + every item) in one call rather than\none item at a time.",
        "operationId": "CreateNavigationMenuApi",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Store identifier (ignored - always the caller's own store)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "JSON data model required to process request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NavigationMenuRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NavigationMenuRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NavigationMenuRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "HTTP status 201 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Stores - Navigation"
        ],
        "summary": "List the store's navigation menus. Each menu's Items is its top-level items only (not the full\nrecursive tree) - see Get for a single menu's full tree.",
        "operationId": "ListNavigationMenusApi",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Store identifier (ignored - always the caller's own store)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "handle",
            "in": "query",
            "description": "Optional exact-match filter on the menu's Handle (e.g. \"main-menu\", \"footer-menu\")",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 with the list of menus (or empty)",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NavigationMenuGroup"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NavigationMenuGroup"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NavigationMenuGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/{storeId}/navigation/{menuId}": {
      "delete": {
        "tags": [
          "Stores - Navigation"
        ],
        "summary": "Delete a navigation menu and its item tree",
        "operationId": "DeleteNavigationMenuApi",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Store identifier (ignored - always the caller's own store)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "menuId",
            "in": "path",
            "description": "Unique row identifier of the menu (Menu.MenuId)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Stores - Navigation"
        ],
        "summary": "Get a navigation menu, with its full recursive item tree",
        "operationId": "GetNavigationMenuApi",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Store identifier (ignored - always the caller's own store)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "menuId",
            "in": "path",
            "description": "Unique row identifier of the menu (Menu.MenuId)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 with the menu in the response body if found, else returns HTTP status 404",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NavigationMenuGroup"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NavigationMenuGroup"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NavigationMenuGroup"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Stores - Navigation"
        ],
        "summary": "Update a navigation menu together with its item tree - a straight re-expression of Backoffice's own\nNavigation editor, which always saves the whole tree (parent + every item) in one call. Each item in\nrequest.Children needs its Action (\"Create\", \"Update\", or \"Delete\") set to say what happens to it.",
        "operationId": "UpdateNavigationMenuApi",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Store identifier (ignored - always the caller's own store)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "menuId",
            "in": "path",
            "description": "Unique row identifier of the menu (Menu.MenuId)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "JSON data model required to process request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NavigationMenuRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NavigationMenuRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NavigationMenuRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/markups": {
      "post": {
        "tags": [
          "Stores - Markups"
        ],
        "summary": "Set a store markup rule for a category, a brand, or the store default. Provide 'categoryId' for a\ncategory rule, 'brandId' for a brand rule, or neither for the store's default markup - never both.\nIf a rule already exists for the same target it is updated in place rather than duplicated (mirrors\nBackoffice's Set semantics exactly).",
        "operationId": "CreateStoreMarkupApi",
        "requestBody": {
          "description": "JSON data model required to process request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreMarkupCreate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreMarkupCreate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/StoreMarkupCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "HTTP status 201 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Stores - Markups"
        ],
        "summary": "List the caller's store's current markup rules.",
        "operationId": "ListStoreMarkupsApi",
        "responses": {
          "200": {
            "description": "HTTP status 200 with either list of records or an empty list, if none found, in the response body",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StoreMarkupBaseModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StoreMarkupBaseModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StoreMarkupBaseModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/markups/{storeMarkupId}": {
      "delete": {
        "tags": [
          "Stores - Markups"
        ],
        "summary": "Delete a store markup rule.",
        "operationId": "DeleteStoreMarkupApi",
        "parameters": [
          {
            "name": "storeMarkupId",
            "in": "path",
            "description": "Unique row identifier of the store markup rule",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Stores - Markups"
        ],
        "summary": "Update the Markup value of an existing store markup rule. The rule's target (category/brand/store\ndefault) is fixed - delete and re-create to change it.",
        "operationId": "UpdateStoreMarkupApi",
        "parameters": [
          {
            "name": "storeMarkupId",
            "in": "path",
            "description": "Unique row identifier of the store markup rule",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "JSON data model required to process request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreMarkupUpdate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreMarkupUpdate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/StoreMarkupUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/store": {
      "get": {
        "tags": [
          "Stores"
        ],
        "summary": "Get store details",
        "operationId": "GetStoreDetailsApi",
        "responses": {
          "200": {
            "description": "HTTP status 200 with record in the response body if found, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StoreBaseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreBaseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreBaseModel"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Stores"
        ],
        "summary": "Update a store",
        "operationId": "UpdateStoreDetailsApi",
        "requestBody": {
          "description": "JSON data model required to process request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreBaseCrud"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreBaseCrud"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/StoreBaseCrud"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores": {
      "get": {
        "tags": [
          "Stores"
        ],
        "summary": "Get store details",
        "operationId": "ListStoresApi",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 with record in the response body if found, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StoreListItem"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StoreListItem"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StoreListItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/{storeId}/branches": {
      "post": {
        "tags": [
          "Stores - Branches"
        ],
        "summary": "Create a store branch",
        "operationId": "CreateBranchApi",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Store identifier the branch belongs to",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "JSON data model required to process request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BranchLocationItemModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BranchLocationItemModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BranchLocationItemModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "HTTP status 201 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Stores - Branches"
        ],
        "summary": "List branches for a store",
        "operationId": "ListBranchesApi",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Store identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 with list of branches (or empty)",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BranchLocationItemModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BranchLocationItemModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BranchLocationItemModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/stores/{storeId}/branches/{branchId}": {
      "delete": {
        "tags": [
          "Stores - Branches"
        ],
        "summary": "Delete a store branch",
        "operationId": "DeleteBranchApi",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Store identifier the branch belongs to",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "branchId",
            "in": "path",
            "description": "Unique row identifier of the branch record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Stores - Branches"
        ],
        "summary": "Get a store branch",
        "operationId": "GetBranchApi",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Store identifier the branch belongs to",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "branchId",
            "in": "path",
            "description": "Branch identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 404",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BranchLocationItemModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchLocationItemModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchLocationItemModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Stores - Branches"
        ],
        "summary": "Update a store branch",
        "operationId": "UpdateBranchApi",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "Store identifier the branch belongs to",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "branchId",
            "in": "path",
            "description": "Unique row identifier of the branch record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "JSON data model required to process request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BranchLocationItemModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BranchLocationItemModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BranchLocationItemModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/settings/webhooks": {
      "post": {
        "tags": [
          "Apps - Webhooks"
        ],
        "summary": "Create a webhook",
        "operationId": "CreateWebhookApi",
        "requestBody": {
          "description": "JSON data model required to process request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCrudModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCrudModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCrudModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "HTTP status 201 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Apps - Webhooks"
        ],
        "summary": "List webhooks",
        "operationId": "ListWebhooksApi",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Filters the records whose  match the search term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "String representation of the SortBy enum [non-case sensitive]",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 with either list of record or an empty list, if none found, in the response body",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookListItemModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookListItemModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookListItemModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/settings/webhooks/{webhookId}": {
      "delete": {
        "tags": [
          "Apps - Webhooks"
        ],
        "summary": "Delete a  webhook",
        "operationId": "DeleteWebhookApi",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "description": "Unique row identifier of the webhook record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Apps - Webhooks"
        ],
        "summary": "Get a webhook",
        "operationId": "GetWebhookApi",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "description": "Unique row identifier of the webhook record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 with record in the response body if found, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookCrudModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookCrudModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookCrudModel"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Apps - Webhooks"
        ],
        "summary": "Update a webhook",
        "operationId": "UpdateWebhookApi",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "description": "Unique row identifier of the webhook record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "JSON data model required to process request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCrudModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCrudModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCrudModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/settings/webhooks/{webhookId}/logs": {
      "get": {
        "tags": [
          "Apps - Webhooks"
        ],
        "summary": "List a webhook's delivery log, most recent first.",
        "operationId": "ListWebhookLogsApi",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "description": "Unique row identifier of the webhook record",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 with the page of log entries in the response body",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookLogListItemModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookLogListItemModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookLogListItemModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/settings/audit-trail": {
      "get": {
        "tags": [
          "Apps - Audit Trail"
        ],
        "summary": "List audit trail (activity log) entries, most recent first.",
        "operationId": "ListAuditTrailsApi",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Filters records whose object reference, actor name, or Value1-Value5 match the search term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Filters records timestamped after this UTC date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Filters records timestamped before this UTC date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "action_code",
            "in": "query",
            "description": "Filters to a single action code (non-case-sensitive), e.g. OrderCreated, ProductUpdated. A value that isn't a recognized ActionCode returns HTTP 400.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 with the page of audit trail entries in the response body",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditTrailDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditTrailDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditTrailDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/settings/apis": {
      "post": {
        "tags": [
          "Apps - API Keys"
        ],
        "summary": "Create an API key. The full plaintext key is only ever returned in this response - only its hash\nand a short preview are persisted, so it can never be retrieved again afterwards. If it's lost,\nregenerate it instead.",
        "operationId": "CreateApiKeyApi",
        "requestBody": {
          "description": "JSON data model required to process request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyCreate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyCreate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "HTTP status 201 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeySecretResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeySecretResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeySecretResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Apps - API Keys"
        ],
        "summary": "List API keys. Never returns plaintext or preview key values - use Get to see a masked preview\nfor one key.",
        "operationId": "ListApiKeysApi",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Filters by API ID or name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_by",
            "in": "query",
            "description": "One of: Enabled, Disabled, Admin, Store",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "One of: Name, Name-Desc. Defaults to ApiId ascending.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 with either list of records or an empty list, if none found, in the response body",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKeyBaseModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKeyBaseModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKeyBaseModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/settings/apis/{apiId}": {
      "delete": {
        "tags": [
          "Apps - API Keys"
        ],
        "summary": "Delete an API key permanently - the key stops working immediately. Prefer Update with\nRevoked=true if you may want to restore it later.",
        "operationId": "DeleteApiKeyApi",
        "parameters": [
          {
            "name": "apiId",
            "in": "path",
            "description": "Unique row identifier of the API key",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 if successfully processed, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Apps - API Keys"
        ],
        "summary": "Get an API key. Never returns the full plaintext value - only a masked preview\n(e.g. \"sk_store_ab12...xyz9\").",
        "operationId": "GetApiKeyApi",
        "parameters": [
          {
            "name": "apiId",
            "in": "path",
            "description": "Unique row identifier of the API key",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP status 200 with the record in the response body if found, else returns HTTP status 400",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyFullModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyFullModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyFullModel"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Apps - API Keys"
        ],
        "summary": "Update an API key. Only properties present in the request body are changed - to rotate the\nsecret material itself, use Regenerate instead.",
        "operationId": "UpdateApiKeyApi",
        "parameters": [
          {
            "name": "apiId",
            "in": "path",
            "description": "Unique row identifier of the API key",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "JSON data model required to process request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyUpdate"
              }
            },
[...]
