{
  "openapi": "3.1.1",
  "info": {
    "title": "OE Commerce Store REST API",
    "description": "\n            Build a fully custom headless storefront - your own web app, mobile app, or POS - against a\n            single OE Commerce store. Every endpoint below is namespaced under `/api/v1/store/...`. Building\n            admin/back-office tooling instead? See [/docs/admin](/docs/admin).\n\n            New here? [/guides/store](/guides/store) walks through getting a key, the anonymous cart\n            session, and calling your first endpoints step by step - this page is the field-level reference\n            to come back to afterward.\n\n            ## Getting Started\n\n            1. Click the **Authorize** button at the top of this page.\n            2. Provide credentials:\n               - **X-Commerce-Key** (always required) - your store's Store Access Key from Backoffice >\n                 Settings > Application APIs. `pk_store_...` (publishable) is safe for browser/mobile code;\n                 `sk_store_...` (secret) is server-to-server only and is rejected outright if a browser\n                 Origin header is present.\n               - **Bearer** (only for endpoints acting on a specific customer - Account, Orders, Wishlists,\n                 etc.) - the token from **Auth > register** or **Auth > login**.\n\n            Once authorized, you can explore and test all available endpoints directly from this interface.\n\n            ## Anonymous Carts\n\n            A guest cart is tracked by an `X-Session-Ref` header, not a cookie - the server generates one on\n            your first request and echoes it back on every response after. Keep sending back whatever value\n            you last received. Logging in carries that same cart forward onto the customer's account\n            automatically, with no separate merge step.\n\n            ## Errors\n\n            Failures use RFC 9457 Problem Details (`application/problem+json`) with a stable `code` field\n            for programmatic handling, e.g. `store_key_invalid`, `store_key_revoked`, `store_key_scope_denied`,\n            `rate_limited`. A rejected *business* action (e.g. adding fewer than a product's minimum order\n            quantity to the cart) instead comes back as HTTP 200 with `\"success\": false` and a human-readable\n            `message` - always check `success` in the body, not just the HTTP status code.\n\n            ## Rate Limits\n\n            Requests are limited per Store Access Key (200/minute). The credential-stuffing surface\n            (register/login/forgot-password/reset-password) is limited more tightly per caller IP (10 per 5\n            minutes). A 429 response includes a `Retry-After` header.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "http://commerce-api-alpha.ordereazi.com/"
    }
  ],
  "paths": {
    "/api/v1/store/wishlists": {
      "get": {
        "tags": [
          "Wishlists"
        ],
        "summary": "Lists the current customer's wishlists.",
        "operationId": "WishlistGetWishlistsApi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WishlistModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WishlistModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WishlistModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Commerce-Key": [ ],
            "Bearer": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Wishlists"
        ],
        "summary": "Creates a new named wishlist.",
        "operationId": "WishlistCreateWishlistApi",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWishlistRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWishlistRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWishlistRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWishlistResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWishlistResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWishlistResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Commerce-Key": [ ],
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v1/store/wishlists/{documentRef}": {
      "get": {
        "tags": [
          "Wishlists"
        ],
        "summary": "Gets a single wishlist's full detail by its reference - this is the \"share\" URL: anonymous, keyed only by an unguessable reference, matching StoreApp's own share mechanism (no separate token).",
        "operationId": "WishlistGetWishlistApi",
        "parameters": [
          {
            "name": "documentRef",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WishlistDetailModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WishlistDetailModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WishlistDetailModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/store/wishlists/{id}": {
      "patch": {
        "tags": [
          "Wishlists"
        ],
        "summary": "Renames a wishlist or updates its occasion. Only fields present in the request are changed.",
        "operationId": "WishlistUpdateWishlistApi",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWishlistRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWishlistRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWishlistRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Commerce-Key": [ ],
            "Bearer": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Wishlists"
        ],
        "summary": "Deletes a wishlist entirely.",
        "operationId": "WishlistDeleteWishlistApi",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Commerce-Key": [ ],
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v1/store/wishlists/{id}/items": {
      "post": {
        "tags": [
          "Wishlists"
        ],
        "summary": "Adds a product to a wishlist.",
        "operationId": "WishlistAddItemApi",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddWishlistItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddWishlistItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddWishlistItemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Commerce-Key": [ ],
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v1/store/wishlists/{id}/items/{lineId}": {
      "patch": {
        "tags": [
          "Wishlists"
        ],
        "summary": "Updates an item's quantity on a wishlist.",
        "operationId": "WishlistUpdateItemQtyApi",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lineId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWishlistItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWishlistItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWishlistItemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Commerce-Key": [ ],
            "Bearer": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Wishlists"
        ],
        "summary": "Removes an item from a wishlist.",
        "operationId": "WishlistRemoveItemApi",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lineId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Commerce-Key": [ ],
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v1/store/wallet": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Gets the current customer's wallet balance - either the store's core wallet, or a\n    third-party wallet extension's balance when one is active for this store (see\n    IWalletProviderService.HasThirdPartyWallet) - and redeemable via Checkout's wallet actions.",
        "operationId": "WalletGetBalanceApi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WalletModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Commerce-Key": [ ],
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v1/store/search/products": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Faceted/filtered product listing - the category/search results page. Falls back to a plain database\nkeyword query (no facets - those need Solr's index) when the store has no Solr instance configured,\nor the configured one is unreachable, instead of surfacing an opaque 500. Callers can detect this via\nthe SearchDegraded flag on the response.",
        "operationId": "SearchGetProductsApi",
        "parameters": [
          {
            "name": "keywords",
            "in": "query",
            "description": "Free-text search keywords.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size, unless overridden by the store's own SearchSettings.PageSize.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 18
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order (defaults to the store's configured default sort).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Facet filter string (category/brand/price range etc).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Optional comma-separated list of fields to include per product (e.g. ?fields=productId,name,skuCode,pricing) - trims FilterProductModel's field set for mobile/lightweight clients. Only applies to each item in \"products\"; paging/facets/total are always returned in full. Unknown field names are ignored rather than erroring.",
            "schema": {
              "type": "string"
            },
            "example": "productId,name,skuCode,pricing"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FacetProductResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacetProductResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacetProductResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/store/search/predictive-search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Predictive search - as-you-type results combining products, categories, and manufacturers.",
        "operationId": "SearchPredictiveSearchApi",
        "parameters": [
          {
            "name": "searchTerm",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/store/search/suggestions": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Lightweight search-box suggestions (term + weight), no product/category hydration.",
        "operationId": "SearchGetSuggestionsApi",
        "parameters": [
          {
            "name": "searchTerm",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/store/search/history": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Recent search terms for the current customer (or guest session), most recent first.",
        "operationId": "SearchGetSearchHistoryApi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Search"
        ],
        "summary": "Clears the current customer's (or guest session's) search history.",
        "operationId": "SearchClearSearchHistoryApi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/store/profile": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Returns the current customer's profile.",
        "operationId": "ProfileGetProfileApi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Commerce-Key": [ ],
            "Bearer": [ ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Account"
        ],
        "summary": "Updates the current customer's profile. Only fields present in the request are changed.",
        "operationId": "ProfileUpdateProfileApi",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Commerce-Key": [ ],
            "Bearer": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Deletes (obfuscates) the current customer's profile. Blocked with warnings if the account is\ncorporate or still holds wallet funds - see IDeleteUserService.",
        "operationId": "ProfileDeleteProfileApi",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Commerce-Key": [ ],
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v1/store/profile/change-password": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Changes the current customer's password given their current one. Reuses the exact hashing scheme\nResetPasswordService already applies (salt + single-pass SHA-256, base64) rather than inventing new\ncrypto, and the same password-policy checks (min length/lower/upper/number/special) it enforces.",
        "operationId": "ProfileChangePasswordApi",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Commerce-Key": [ ],
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v1/store/products/{id}": {
      "get": {
        "tags": [
          "Catalog - Products"
        ],
        "summary": "Gets a single product's full detail by its id.",
        "operationId": "ProductGetByIdApi",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The product's unique id.",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Optional comma-separated list of response fields to include (e.g. ?fields=productId,name,skuCode,pricing) - trims down ProductModel's large field set for mobile/lightweight clients. Unknown field names are ignored rather than erroring.",
            "schema": {
              "type": "string"
            },
            "example": "productId,name,skuCode,pricing"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProductModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/store/products/by-sku/{sku}": {
      "get": {
        "tags": [
          "Catalog - Products"
        ],
        "summary": "Gets a single product's full detail by its SKU - same response shape as GetById.",
        "operationId": "ProductGetBySkuApi",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "description": "The product's SKU.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Optional comma-separated list of response fields to include (e.g. ?fields=productId,name,skuCode,pricing). Unknown field names are ignored rather than erroring.",
            "schema": {
              "type": "string"
            },
            "example": "productId,name,skuCode,pricing"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProductModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/store/products/{id}/pricing-tiers": {
      "get": {
        "tags": [
          "Catalog - Products"
        ],
        "summary": "Gets a product's quantity-break pricing table (e.g. \"10-49 units at R45.00 each\"), if it has\n    one - empty Tiers means the product has no bulk/tiered pricing configured. Resolved against the\n    caller's own pricelist (same account/session pricing already used for GetById/GetBySku), so a B2B\n    account with a special pricelist sees its own tier prices, not the store default.",
        "operationId": "ProductGetPricingTiersApi",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The product's unique id.",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PricingTiersResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingTiersResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingTiersResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/store/products/compare": {
      "post": {
        "tags": [
          "Catalog - Product Lists"
        ],
        "summary": "Hydrates a client-supplied list of product ids into full comparison-grid cards - for a\n    \"compare products\" page. The frontend owns tracking which ids are being compared (e.g. in local\n    storage); this just resolves ids to display data.",
        "operationId": "ProductListsCompareApi",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Optional comma-separated list of fields to include per product (e.g. ?fields=productId,name,skuCode,pricing). Unknown field names are ignored rather than erroring.",
            "schema": {
              "type": "string"
            },
            "example": "productId,name,skuCode,pricing"
          }
        ],
        "requestBody": {
          "description": "The product ids to compare.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductIdsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductIdsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ProductIdsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsListResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsListResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/store/products/recently-viewed": {
      "post": {
        "tags": [
          "Catalog - Product Lists"
        ],
        "summary": "Hydrates a client-supplied list of product ids into full display cards - for a \"recently\n    viewed\" rail. The frontend owns tracking which ids the customer has viewed (e.g. in local storage);\n    this just resolves ids to display data.",
        "operationId": "ProductListsRecentlyViewedApi",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Optional comma-separated list of fields to include per product (e.g. ?fields=productId,name,skuCode,pricing). Unknown field names are ignored rather than erroring.",
            "schema": {
              "type": "string"
            },
            "example": "productId,name,skuCode,pricing"
          }
        ],
        "requestBody": {
          "description": "The product ids recently viewed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductIdsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductIdsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ProductIdsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsListResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsListResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/store/products/trending": {
      "post": {
        "tags": [
          "Catalog - Product Lists"
        ],
        "summary": "Hydrates a client-supplied list of product ids into full display cards - for a \"trending\n    now\" rail. Which ids count as trending is decided by the caller (e.g. a merchant-curated list, or\n    data from another source), not tracked server-side.",
        "operationId": "ProductListsTrendingApi",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Optional comma-separated list of fields to include per product (e.g. ?fields=productId,name,skuCode,pricing). Unknown field names are ignored rather than erroring.",
            "schema": {
              "type": "string"
            },
            "example": "productId,name,skuCode,pricing"
          }
        ],
        "requestBody": {
          "description": "The trending product ids.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductIdsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductIdsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ProductIdsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsListResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsListResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/store/payments/stripe/webhook": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Stripe webhook - the source of truth for \"paid\". Configure this store's Stripe webhook URL as\n.../api/store/payments/stripe/webhook?key=&lt;this store's Store Access Key&gt; (Stripe can't be\nconfigured to send our normal X-Commerce-Key header, so the key travels in the URL instead - see\nStoreApiKeyMiddleware). Verifies the signature before trusting anything in the payload.",
        "operationId": "PaymentStripeWebhookApi",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/store/payments/{orderRef}/status": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Polls an order's current payment/fulfillment status - for the frontend's own success page to\nconfirm payment landed, particularly for redirect-based gateways with no synchronous confirmation.\nNot a substitute for the webhook, which is what actually marks the order paid.",
        "operationId": "PaymentGetStatusApi",
        "parameters": [
          {
            "name": "orderRef",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentStatusResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentStatusResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentStatusResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/store/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Lists the current customer's orders, most recent first by default.",
        "operationId": "OrdersGetOrdersApi",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "filterBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Commerce-Key": [ ],
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v1/store/orders/{orderId}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Gets a single order's full detail. 404s (rather than 403s) an order that exists but isn't the customer's, so this can't be used to enumerate order IDs.",
        "operationId": "OrdersGetOrderApi",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/OrderModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request body or parameters failed validation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the credential is valid but not permitted for this action.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource doesn't exist.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProblemDetails"
                }
[...]
